@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
  background: #fff7ed;
  color: #161616;
}

h1,
p {
  margin: 0;
}

header {
  height: 112px;
  padding: 34px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .site-logo {
  font-size: 25px;
  font-weight: 900;
  margin-right: auto;
}

header a {
  text-decoration: none;
  color: #161616;
  font-weight: 600;
  font-size: 16px;
}

header nav a {
  padding-left: 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

/* Home page */

.home-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./assets/images/home-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 380px;
  padding: 65px 26px;
  color: #ffffff;
}

.home-section h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 1.16;
}

.home-section p {
  margin-top: 22px;
  line-height: 1.5;
  font-weight: 500;
}

.home-section a {
  margin-top: 52px;
  background: #ff8c38;
  padding-block: 10px;
  width: 100%;
}

/* About section */

.about-section-hero-image {
  max-width: 100%;
}

.about-section-content {
  padding-inline: 26px;
  margin-bottom: 55px;
  color: #161616;
}

.about-section-content h1 {
  margin-top: 48px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.19;
}

.about-section-content p {
  margin-top: 31px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.about-section-cta {
  background: #ffcc8d;
  color: #161616;
  margin-inline: 26px;
  padding: 37px 32px;
  border-radius: 5px;
  margin-bottom: 53px;
}

.about-section-cta h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
}

.about-section-cta a {
  background: #161616;
  font-size: 16px;
  padding: 12px 22px;
}

/* van-list-section */

.van-list-section {
  padding-inline: 26px;
}

.van-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 33px;
  margin-top: 56px;
}

.van-tile img {
  width: 100%;
  border-radius: 5px;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  display: inline-block;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}
